{% extends 'base.html.twig' %}

{% block title %}Le blog pour tous !{% endblock %}

{% block body %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('home') }}">Acceuil</a></li>
        <li class="breadcrumb-item active">Liste articles</li>
    </ol>
    <section class="articles">
        {% for article in articles %}
            <div class="card border-light mt-100" style="max-width: 120rem;">
                <div class="card-header text-center">
                    <h2>{{ article.title }}</h2>
                </div>
                <div class="image d-flex justify-content-center">
                    <img class="responsive" style="height: auto; width: 35%; display: block;" src="{{ article.image }}">
                </div>
                <div class="card-body">
                    <h5 class="list-group-item text-center">
                        <small>Écrit le {{ article.createdAt | date('d/m/Y') }}
                            dans la catégorie {{ article.category.title }}</small></h5>
                    <p class="card-text">{{ article.content  | striptags | slice(0, 300) | raw }}....</p>
                </div>
                <p class="lead text-center">
                    <a href="{{ path('blog_show', {'id': article.id}) }}" class="btn btn-primary">Lire la suite</a></p>
                </p>
            </div>
        {% endfor %}
    </section>
{% endblock %}
