{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!{% endblock %}

{% block body %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('home') }}">Acceuil</a></li>
        <li class="breadcrumb-item active">Liste articles</li>
    </ol>
    <section class="articles">
        {% for article in articles %}


            <div class="jumbotron">
                <h1 class="text-center">{{ article.title }}</h1>
                <hr class="bg-danger">
                <h6 class="text-center">Écrit le {{ article.createdAt | date('d/m/Y') }}
                    À {{ article.createdAt | date('H:i') }}
                    dans la catégorie politique</h6>
                <hr class="my-1 bg-danger">
                <div class="image d-flex justify-content-center">
                    <img class="img-responsive " src="{{ article.image }}" alt="">
                </div>
                <div class="content mt-40">
                    <p class="text-center border border-danger">{{ article.content  | striptags | slice(0, 300) | raw }}
                        ...</p>
                </div>
                <p class="lead text-center">
                    <a href="{{ path('blog_show', {'id': article.id}) }}" class="btn btn-primary">Lire la suite</a></p>
                </p>
            </div>
            <article>


            </article>

        {% endfor %}


    </section>
{% endblock %}
