{% extends 'base.html.twig' %}

{% block body %}

	<div class="card border-light pt-50 " style="max-width: 120rem;">
		<div class="card-header text-center">
			{{ article.title }}
		</div>
		<div class="image d-flex justify-content-center">
			<img class="responsive" style="height: auto; width: 35%; display: block;" src="{{ article.image }}">
		</div>
		<div class="card-body">
			<h5 class="list-group-item text-center">
				<small>
					Écrit le
					{{ article.createdAt | date('d/m/Y') }}
				</small>
			</h5>
			<p class="card-text">
				{{ article.content  | raw }}
			</p>
		</div>
	</div>


	<h2 class="text-center text-danger">
		{{ article.comments | length }}
		Commentaires :
	</h2>
	{% for comment in article.comments %}
		<div class="card border-light mb-3" style="max-width: 120rem;">
			<div class="card-header text-center">
				Auteur du commentaire :
				{{ comment.author }}
			</div>
			<div class="card-body">
				<h5 class="list-group-item text-center">
					<small>
						Commentaire écrit le :
						{{ comment.createdAt | date('d/m/Y à H:i') }}
					</small>
				</h5>
				<p class="card-text">
					{{ comment.content | striptags | raw }}
				</p>
			</div>
		</div>

	{% endfor %}


	{% if app.user %}
		<div class="container">
			<div class="col-md-6 mx-auto">
				{{ form_start(commentForm) }}
				{{ form_row(commentForm.author, {'attr': {'placeholder': "votre nom"}}
				) }}
				{{ form_row(commentForm.content, {'attr': {'placeholder': "votre commentaire"}}
				) }}
				<button type="submit" class="btn btn-success">
					Commenter
				</button>
				{{ form_end(commentForm) }}
			{% else %}
				<h2 class="text-center text-danger">
					Vous ne pouvez pas commenter si vous n' etes pas connecté !
				</h2>
				<a href="{{ path('security_login') }}" class="btn btn-primary">
					connexion
				</a>
			</div>
		</div>


	{% endif %}


</section>{% endblock %}
